@model List<Product>
@{
    int count = 0;
}

<div class="container">
    <div class="d-flex" style="justify-content:space-around; align-items:center">
        <h1>
            Product
        </h1>
        <a class="btn btn-primary" asp-controller="Product" asp-action="Create">Create</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">ProductImage</th>
                <th scope="col">Name</th>
                <th scope="col">SKU</th>
                <th scope="col">Price</th>
                <th scope="col">Category</th>
                <th scope="col">Desc</th>
                <th scope="col">Tag</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <td scope="row">@count</td>
                    <td>
                        <img src="~/UploadImage/Product/@item.ProductImages.FirstOrDefault(x=>x.IsPrime==true)">
                    </td>
                    <td>@item.Name</td>
                    <td>@item.SKU</td>
                    <td>@item.Price</td>

                    <td>@item.Category.Name</td>
                    <td>@item.Desc</td>

                    <td>

                   @foreach (var tag in item.ProductTags)
                    {
                        <td>@tag.Tag.Name</td>
                    }
               
                    </td>


                    
                    <td>
                        <a class="btn btn-primary" asp-controller="Product" asp-action="Update" asp-route-id=@item.Id>Update</a>
                        <a class="btn btn-danger" asp-controller="Product" asp-action="Delete" asp-route-id=@item.Id>Delete</a>
                    </td>

                </tr>
            }

        </tbody>
    </table>
</div>

